body {
  margin: 0 auto;
  width: 670px;
  background-image: url(warpedspace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #f3f3f3;
  margin-bottom: 0%;
  background-color: #0000f380;
}
#firstSection {
  font-family: "SingleDayRegular";
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  color: #f3f3f3;
  background-color: #0000f380;
  margin-bottom: 0%;
  margin-top: 0%;
  
}
#secondSection {
  font-family: "Lucida Console", monospace;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  color: #2eeb08;
  background-color: #0000f380;
  margin-top: 0%;
  margin-bottom: 0%;
  
}

.hidden {
  display: none;
 
}
h2 {
  background-color: #0000f380;
  margin-bottom: 0%;
}

ul {
  background-color: #0000f380;
  list-style-type: none;
  margin-top: 0%;
}

li {
  background-color: #0000f380;
  margin-top: 0%;
}

button {
  background-color: #f06305;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 0%;
  margin-bottom: 0%;
   
}

button:hover {
  background-color: #f0975c;
  border:none;
}
